@{
    ViewData["Title"] = "Ana Sayfa";
}
@*<link href="~/metronic/assets/global/plugins/mychartjs/Chart.min.css" rel="stylesheet" type="text/css">*@

@*<div class="chart-wrapper">

    <div class="row mt-5">
        <div class="col-md-5 col-md-offset-1">
            <p id="countb2c"></p>
            <div class="single-chart rounded bg-white p-3"> 
                <div class="chart-container position-relative">
                    <canvas id="charta"></canvas>
                </div>  
                
            </div>
        </div>

        <div class="col-md-5">
            <p id="countb2b"> </p>
            <div class="single-chart rounded bg-white p-3">
                <div class="chart-container position-relative">
                    <canvas id="chart"></canvas>
                </div>

            </div>
        </div>
    </div>

    <div class="row mt-5 mt m-t-2">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Poliçeler</h3>

                </div>

                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <td class="text-left">Online</td>
                            <td id="b2ccount" class="text-right"></td>
                        </tr>
                        <tr>
                            <td class="text-left">Offline</td>
                            <td id="b2bcount" class="text-right"></td>
                        </tr>
                        <tr>
                            <td  class="text-left">Toplam</td>
                            <td  id="sumPolicy" class="text-right"></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Kullanıcı</h3>

                </div>

                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <td class="text-left">Lead</td>
                            <td id="leadcount" class="text-right"></td>
                        </tr>
                        <tr>
                            <td class="text-left">Müşteri</td>
                            <td id="customercount" class="text-right"></td>
                        </tr>
                        <tr>
                            <td class="text-left">Toplam</td>
                            <td id="sumUser" class="text-right"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>*@

@section scripts{

    @*<script type="text/javascript" src="~/metronic/assets/global/plugins/mychartjs/Chart.min.js"></script>*@

    @*<script src="~/js/home/home.js"></script>*@
}
