/*#region Card Styling*/
.card {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 6px;
}



    .card .card-body {
        display: table;
        width: 100%;
        padding: 12px;
    }




        .card .card-body .lead {
            text-align: center;
        }

.card-price {
    border-color: #999;
    background-color: #ededed;
    margin-bottom: 24px;
}

.tenant_group {
    margin-top: 11px !important;
    margin-right: 12px !important;
}

.card-price .price {
    text-align: center;
    color: #337ab7;
    font-size: 3em;
    text-transform: uppercase;
    line-height: 0.7em;
    margin: 24px 0 16px;
}

.table-row-display {
    display: table-row;
}

.line-height-second {
    line-height: 1.6 !important;
}

.card-price .details {
    list-style: none;
    margin-bottom: 24px;
    padding: 0 18px;
}

    .card-price .details li {
        text-align: center;
        margin-bottom: 8px;
    }

.card-price .buy-now {
    text-transform: uppercase;
}

.detail-title {
    color: black;
    font-weight: bold;
    font-size: 14px;
}

/*#endregion */

/*#region Clicky*/
.counter {
    padding: 13px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-grid;
    font-size: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #377;
}

.clicky-info {
    color: black;
    font-size: 16px;
}

    .clicky-info a {
        color: dodgerblue;
        text-decoration: underline;
    }

.dbox {
    position: relative;
    background: rgb(255, 86, 65);
    background: -moz-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5641', endColorstr='#fd3261', GradientType=0);
    border-radius: 4px;
    text-align: center;
    margin: 30px 0 40px;
}

.dbox__icon {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}

    .dbox__icon:before {
        width: 75px;
        height: 75px;
        position: absolute;
        background: #fda299;
        background: rgba(253, 162, 153, 0.34);
        content: '';
        border-radius: 50%;
        left: -17px;
        top: -17px;
        z-index: -2;
    }

    .dbox__icon:after {
        width: 60px;
        height: 60px;
        position: absolute;
        background: #f79489;
        background: rgba(247, 148, 137, 0.91);
        content: '';
        border-radius: 50%;
        left: -10px;
        top: -10px;
        z-index: -1;
    }

    .dbox__icon > i {
        background: #ff5444;
        border-radius: 50%;
        line-height: 40px;
        color: #FFF;
        width: 40px;
        height: 40px;
        font-size: 22px;
    }

.dbox__body {
    padding: 50px 20px;
}

.dbox__count {
    display: block;
    font-size: 30px;
    color: #FFF;
    font-weight: 300;
}

.dbox__title {
    font-size: 13px;
    color: #FFF;
    color: rgba(255, 255, 255, 0.81);
}

.dbox__action {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    left: 50%;
}

.dbox__action__btn {
    border: none;
    background: #FFF;
    border-radius: 19px;
    padding: 7px 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .5px;
    color: #003e85;
    box-shadow: 0 3px 5px #d4d4d4;
}


.dbox--color-2 {
    background: rgb(252, 190, 27);
    background: -moz-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    background: -webkit-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    background: linear-gradient(to bottom, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcbe1b', endColorstr='#f85648', GradientType=0);
}

    .dbox--color-2 .dbox__icon:after {
        background: #fee036;
        background: rgba(254, 224, 54, 0.81);
    }

    .dbox--color-2 .dbox__icon:before {
        background: #fee036;
        background: rgba(254, 224, 54, 0.64);
    }

    .dbox--color-2 .dbox__icon > i {
        background: #fb9f28;
    }

.dbox--color-3 {
    background: rgb(183,71,247);
    background: -moz-linear-gradient(top, rgba(40,49,59,1) 0%, rgba(72, 84, 97, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(40,49,59,1) 0%,rgba(72, 84, 97, 1) 100%);
    background: linear-gradient(to bottom, rgba(40,49,59,1) 0%,rgba(72, 84, 97, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28313B', endColorstr='#485461',GradientType=0 );
}

    .dbox--color-3 .dbox__icon:after {
        background: #b446f5;
        background: rgba(72, 84, 97, 0.76);
    }

    .dbox--color-3 .dbox__icon:before {
        background: #e284ff;
        background: rgba(72, 84, 97, 0.46);
    }

    .dbox--color-3 .dbox__icon > i {
        background: #485461;
    }

/*#endregion */

/*#region Checkbox Styling*/

/*.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

    .checkbox label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }

    .checkbox label::after {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 0;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        color: #555555;
    }

.checkbox input[type="checkbox"] {
    opacity: 0;
}

    .checkbox input[type="checkbox"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .checkbox input[type="checkbox"]:checked + label::after {
        font-family: 'FontAwesome';
        content: "\f00c";
    }

    .checkbox input[type="checkbox"]:disabled + label {
        opacity: 0.65;
    }

        .checkbox input[type="checkbox"]:disabled + label::before {
            background-color: #eeeeee;
            cursor: not-allowed;
        }

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}


.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}*/

/*#endregion */

/*#region Loader*/
.content-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999999999;
    background: rgba(236, 236, 236, 0.5);
    display: none;
}

    .content-loader .loading-img {
        position: absolute;
        width: 120px;
        height: 120px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    .content-loader .loading-text {
        font-size: 12px;
        position: absolute;
        width: 90px;
        height: 56px;
        top: 120px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        font-weight: bold;
        text-align: center;
    }

        .content-loader .loading-text span {
            font-size: 18px;
            -moz-animation-name: blink;
            -o-animation-name: blink;
            -webkit-animation-name: blink;
            animation-name: blink;
            -moz-animation-duration: 1.4s;
            -o-animation-duration: 1.4s;
            -webkit-animation-duration: 1.4s;
            animation-duration: 1.4s;
            -moz-animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -moz-animation-fill-mode: both;
            -o-animation-fill-mode: both;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

            .content-loader .loading-text span:nth-child(2) {
                -moz-animation-delay: .2s;
                -o-animation-delay: .2s;
                -webkit-animation-delay: .2s;
                animation-delay: .2s;
            }

            .content-loader .loading-text span:nth-child(3) {
                -moz-animation-delay: .4s;
                -o-animation-delay: .4s;
                -webkit-animation-delay: .4s;
                animation-delay: .4s;
            }
/*#endregion */

/*#region Public*/
.none-button {
    background: transparent !important;
    box-shadow: none !important;
    cursor: default !important;
}

.padding-right-30 {
    padding-right: 30px;
}

.no-margin-all {
    margin: 0 !important;
}

.margin-top-0 {
    margin-top: 0px !important
}

.margin-top-25 {
    margin-top: 25px;
}

.width-778 {
    width: 778px;
}

.w58 {
    width: 58.5%;
}

.margin-top-32 {
    margin-top: 32px;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-top-7 {
    margin-top: 7px;
}

.margin-bottom-6 {
    margin-bottom: 6px;
}

.no-resize {
    resize: none;
}

padding-left-10 {
    padding-left: 10px;
}

.parent-i {
    color: white;
    background-color: #F79551;
    height: 43px;
    padding: 10px;
    line-height: 1.5 !important;
}

.width-100 {
    width: 100%;
}

.h-110 {
    height: 110px;
}

.h-133 {
    height: 133px;
}

.border-1-black {
    border: 1px solid black;
}

.padding-25 {
    padding: 25px !important;
}

.padding-left-50 {
    padding-left: 50px !important;
}

.padding-left-36 {
    padding-left: 36px !important;
}

.padding-left-23 {
    padding-left: 23px !important;
}

.padding-left-20 {
    padding-left: 20px !important;
}

.padding-left-60 {
    padding-left: 60px !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.margin-right-5 {
    margin-right: 5px;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.margin-10 {
    margin: 10px !important;
}

.margin-15 {
    margin: 15px !important;
}

.margin-20 {
    margin: 20px;
}

.display-flex {
    display: flex;
}

.margin-left-12 {
    margin-left: 12px !important;
}

.margin-left-3 {
    margin-left: 3px !important;
}

.h155 {
    height: 155px;
}

.pool-li-cursor {
    cursor: pointer;
}

.margin-left-22 {
    margin-left: 22px;
}

.m5 {
    margin: 5px;
}

.fnt-13 {
    font-size: 13.5px !important;
}

.margin-bottom-m4 {
    margin-bottom: -4px !important;
}

.margin-top-13 {
    margin-top: 13%;
}

.border-bottom-grey {
    border-bottom: 1px solid gainsboro;
}

.margin-top-6 {
    margin-top: 6px !important;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-15p {
    margin-top: 15%;
}

.margin-top-35 {
    margin-top: 35px;
}

.w112p {
    width: 112% !important;
}

.h-45 {
    height: 45px;
}

.fnt-18 {
    font-size: 18px !important;
}

.fnt-14 {
    font-size: 14px !important;
}

.m2 {
    margin: 2px;
}

.top-0 {
    top: 0 !important;
}

.pool-main {
    margin: 8px;
    background-color: #F1F3F2;
    color: black;
}

.border-10-radius {
    border-radius: 10px;
}

.border-8-radius {
    border-radius: 8px;
}

.modal-close-icon {
    font-size: 22px !important;
    cursor: pointer;
    float: right;
}
/*#endregion */
#labelOverlay {
    position: absolute;
    top: 185px;
    left: 297px;
    cursor: default;
}

.export-excell-button {
    margin-right: 20px;
    background: #1F2930 !important;
    color: white;
    font-size: 12px;
}

.export-csv-button {
    margin-right: 20px;
    background: #1F2930 !important;
    color: white;
    font-size: 12px;
}

.export-pdf-button {
    margin-right: 20px;
    background: #1F2930 !important;
    color: white;
    font-size: 12px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

#labelOverlay p.used-size {
    font-size: 16px;
}

#chart_div_product {
    width: 100%;
    min-height: 500px;
}

#chart_div_company {
    width: 100%;
    min-height: 500px;
}


#labelOverlay p.used-size2 {
    font-size: 16px;
}

.chart {
    width: 100%;
    min-height: 400px;
}


.m-t-2 {
    margin-top: 2%;
}

.m-w-100 {
    max-width: 100%;
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}

    .panel-heading div span {
        margin-left: 5px;
    }

.panel-body {
    display: none;
}

.single-chart {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 4px;
}

.single-chart-clicky {
    display: flex;
    flex-grow: 1;
    margin: 10px;
    flex-direction: column;
    box-shadow: 2px 0px 10px rgba(0,0,0,0.30), 1px 0px 12px rgba(0,0,0,0.22);
    padding: 10px;
    border-radius: 5px;
}

.chart-wrapper {
    background-color: #F2F2F2;
    padding: 20px;
    margin-top: -9px;
}

.p-t-3 {
    padding-top: 3px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-3 {
    margin-right: 3px;
}

.h-350 {
    height: 350px;
}

.h-750 {
    height: 750px;
}

.h-360 {
    height: 360px;
}

.h-250 {
    height: 250px !important;
}

.h-150 {
    height: 150px !important;
}

#countb2c {
    font-size: 22px;
    position: absolute;
    margin-top: 28%;
    margin-left: 45%;
}

.no-padding {
    padding: 0 !important;
}

.top_band {
    top: -15px;
    font-weight: bold;
    color: #E51A92;
    font-size: 18px;
}

.logom_image {
    height: 80px;
}

.top_image {
    margin-top: -44px;
    height: 80px;
    margin-left: 20px;
}

.font-weight-bold {
    font-weight: bold;
}

.font-size-14 {
    font-size: 14px;
}

.cursor {
    cursor: pointer;
}

.orange-color {
    color: #F79551;
}

.gray-color {
    color: gray;
}

.pad-10 {
    padding: 10px;
}

.position-relative {
    position: relative;
}

.poolparentname {
    display: inline-block;
    color: white;
    padding: 7px;
    background-color: #F79551;
    width: 97%;
}

#poolLabel {
    cursor: pointer;
}

#countb2b {
    font-size: 22px;
    position: absolute;
    margin-top: 28%;
    margin-left: 45%;
}

.w-95p {
    width: 99%;
}

.img-parent {
    width: 24px;
    height: 24px;
    padding: 8px;
    margin-left: 25px;
    background-color: transparent;
    border: none;
}

.margin-top-4 {
    margin-top: 4px;
}

.pad-left-0 {
    padding-left: 0;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-3 {
    margin-bottom: 3px;
}

.no-cursor {
    cursor: context-menu !important;
}

.bg-black {
    background: #1F2930 !important;
    color: white;
    font-size: 13px;
    border-radius: 8px;
}

    .bg-black:hover {
        color: white;
    }

.table_thead_back {
    background-color: darkgrey;
}

.pink-color {
    color: #E51A92 !important;
}

.white-color {
    color: white !important;
}

.p-d-0 {
    padding: 0;
}

.hr {
    margin: 15px 0;
    border: 0;
    border-top: 1px solid #dadada;
    border-bottom: 0;
}

.modal-form {
    padding-bottom: 30px;
}

.modal-label {
    line-height: 35px;
}

.panel-button {
    width: 100px;
    color: #EE4C9A;
    background: transparent;
    border: 1px solid black !important;
}

.panel-button-selected {
    color: white;
    background: black;
    border: 1px solid white;
}

.panel-button:hover {
    color: #EE4C9A;
    background: transparent;
    border: 1px solid black !important;
}

.panel-button:focus {
    color: white !important;
    background: black;
    border: 1px solid white;
}
