
@{
    ViewData["Title"] = "Kullanıcı İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {

    <link rel="stylesheet" type="text/css" href="~/css/temp.css" />

}
<div class="col-md-12 col-sm-12 col-xs-12  top_band">
    <div class="col-md-4 col-sm-4 col-xs-4 text-left caption p-d-0">
        Kullanıcı İşlemleri
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8 text-right p-d-0">
        <div class="actions">
            <a href="javascript:;" class="btn btn-default btn-sm bg-black" id="btnUserAddModal">
                <i class="fa fa-plus-circle pink-color"></i>
                Kullanıcı Ekle
            </a>

        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="portlet box yellow">
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover" id="dataTableUpdateUser">
                <thead>
                    <tr class="table_thead_back">

                        <th class="no-cursor">
                            Ad
                        </th>
                        <th class="no-cursor">
                            Soyad
                        </th>
                        <th class="no-cursor">
                            Email
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="updateUserModal" role="dialog" style="display: none;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-times modal-close-icon" data-dismiss="modal"></i>
                <h4 class="modal-title">
                    Kullanıcı Güncelle

                </h4>
            </div>
            <div class="modal-body">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Ad</label>
                        <input type="text" placeholder="Ad" id="userPersonName" errMessage="Ad boş geçmeyiniz" class="form-control mustFill" maxlength="40">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="text" placeholder="Email" id="userName" errMessage="Emaili boş geçmeyiniz" class="form-control mustFill">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Şifre</label>
                        <input type="password" placeholder="Şifre" id="userPassword" class="form-control" maxlength="25">
                    </div>

                    <div class="form-group">
                        <label class="control-label">İşe Başlama Tarihi</label>
                        <input type="text" placeholder="__-__-____" id="start_date" errMessage="İşe başlama tarihini boş geçmeyiniz" class="form-control mustFill">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Rol</label>
                        <select class="form-control" id="ddlRoleType">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Diğer Roller</label>
                        <select class="form-control" id="otherRollesUpdate" data-placeholder="Seçiniz..." multiple="multiple"></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Sadece Kendi Taskları Mı ?</label>
                        <div class="checkbox checkbox-success margin-left-22">
                            <input id="OwnTasksUpdate" type="checkbox">
                            <label for="OwnTasksUpdate">
                                Evet
                            </label>
                        </div>

                    </div>
                    <div class="form-group p-t-3">
                        <label class="control-label">Kullanıcı Kodu</label>
                        <input type="text" placeholder="Kullanıcı Kodu" disabled="disabled" id="UserCodeUpdate" class="form-control">
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Soyad</label>
                        <input type="text" placeholder="Soyad" id="userPersonSurname" errMessage="Soyad boş geçmeyiniz" class="form-control mustFill" maxlength="40">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Cep Telefonu</label>
                        <input type="tel" placeholder="0(___) ___-____" id="userGsmNo" errMessage="Cep Telefonu boş geçmeyiniz" autocomplete="off" class="form-control mustFill">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Yeniden Şifre</label>
                        <input type="password" placeholder="Yeniden Şifre" id="userRePassword" class="form-control" maxlength="25">
                    </div>


                    <div class="form-group">
                        <label class="control-label">İşten Ayrılma Tarihi</label>
                        <input type="text" placeholder="__-__-____" id="end_date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Tenant</label>
                        <input type="text" id="tenant" disabled="disabled" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Havuzlar</label>
                        <select class="form-control" data-placeholder="Seçiniz..." id="pool_update" multiple="multiple"></select>
                    </div>


                    <div class="form-group">
                        <label class="control-label">Finsoft Kodu</label>
                        <input type="text" placeholder="Finsoft Kodu" id="finsoftCodeUpdate" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Lead Assign Groups</label>
                        <select class="form-control" data-placeholder="Seçiniz..." id="leadAssignGroupsUpdate" multiple="multiple"></select>
                    </div>

                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Kullanıcı Tipi</label>
                        <select class="form-control" id="userType">
                            <option value=""></option>
                        </select>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Default Havuz</label>
                        <select class="form-control" id="default_pool_update">
                            <option value=""></option>
                        </select>
                    </div>

                </div>

                <div class="hide" id="branches_update">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Şube</label>
                            <select class="form-control" id="branch_update">
                                <option value="">Seçiniz</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Şehir</label>
                            <select class="form-control" id="city_update">
                                <option value="">Seçiniz</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Bölge</label>
                            <select class="form-control" id="area_update">
                                <option value="">Seçiniz</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Lokasyon</label>
                            <select class="form-control" id="location_update">
                                <option value="">Seçiniz</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Satış Kanal Tipi</label>
                            <select class="form-control" id="sell_canal_type_update">
                                <option value="">Seçiniz</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="hide" id="brach_sell_update">


                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Şube Müdürü</label>
                            <select class="form-control" id="branch_manager_update">
                                <option value="">Seçiniz</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="hide" id="operation_team_lead_update">


                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Bölge</label>
                            <select class="form-control" id="operation_area_update">
                                <option value="">Seçiniz</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="hide" id="operation_crew_update">


                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Takım Lideri</label>
                            <select class="form-control" id="crew_lead_update">
                                <option value="">Seçiniz</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="hide" id="lead_pool_update_div">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label class="control-label">SYS Kampanya Kodu</label>
                            <input type="number" min="0" step="1" placeholder="SYS Kampanya Kodu" id="userSysCampaignIdUpdate" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label class="control-label">Lead Havuzu</label>
                            <select class="form-control" id="lead_pool_update">
                                <option value="">Seçiniz</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="form-group  text-center margin-20">
                    <div class="col-md-3 col-sm-3 col-xs-3 checkbox checkbox-success userIsAzureEnabledDiv margin-top-0">
                        <input id="userIsAzureEnabled" type="checkbox">
                        <label for="userIsAzureEnabled">
                            Azure Kullanıcısı
                        </label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 checkbox checkbox-success userIsOtpEnabledDiv margin-top-0">
                        <input id="userIsOtpEnabled" type="checkbox">
                        <label for="userIsOtpEnabled">
                            Otp Aktif
                        </label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 checkbox checkbox-success userIsActiveDiv margin-top-0">
                        <input id="userIsActive" type="checkbox">
                        <label for="userIsActive">
                            Kullanıcı Aktif
                        </label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 checkbox checkbox-success adminLoginIsActiveDiv margin-top-0">
                        <input id="adminLoginIsActive" type="checkbox">
                        <label for="adminLoginIsActive">
                            Admin' e Giriş
                        </label>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button type="button" class="btn btn-success pull-left width-100 fnt-14" id="btnUserUpdate">Kaydet</button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button type="button" class="btn btn-danger pull-right width-100 fnt-14" data-dismiss="modal">Kapat</button>
                </div>
            </div>
            <input type="hidden" id="userUpdateId">
        </div>

    </div>

</div>

<div class="modal fade" id="addUserModal" role="dialog" style="display: none;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-times modal-close-icon" data-dismiss="modal"></i>
                <h4 class="modal-title">
                    Kullanıcı Ekle

                </h4>
            </div>
            <div class="modal-body">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Ad</label>
                        <input type="text" placeholder="Ad" id="userPersonNameAdd" errMessage="Ad boş geçmeyiniz" class="form-control mustFillForAdd" maxlength="40">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="text" placeholder="Email" id="userNameAdd" errMessage="Emaili boş geçmeyiniz" class="form-control mustFillForAdd">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Şifre</label>
                        <input type="password" placeholder="Şifre" id="userPasswordAdd" errMessage="Şifre boş geçmeyiniz" class="form-control mustFillForAdd" maxlength="25">
                    </div>

                    <div class="form-group">
                        <label class="control-label">İşe Başlama Tarihi</label>
                        <input type="text" placeholder="__-__-____" id="start_dateAdd" errMessage="İşe başlama tarihini boş geçmeyiniz" class="form-control mustFillForAdd">
                    </div>


                    <div class="form-group">
                        <label class="control-label">Rol</label>
                        <select class="form-control" id="ddlRoleTypeAdd">
                            <option value="">Seçiniz</option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label class="control-label">Diğer Roller</label>
                        <select class="form-control" id="otherRolles" data-placeholder="Seçiniz..." multiple="multiple"></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Sadece Kendi Taskları Mı?</label>
                        <div class="checkbox checkbox-success margin-left-22">
                            <input id="OwnTasks" type="checkbox">
                            <label for="OwnTasks">
                                Evet
                            </label>
                        </div>

                    </div>
                    <div class="form-group p-t-3">
                        <label class="control-label">Kullanıcı Kodu</label>
                        <input type="text" placeholder="Kullanıcı Kodu" disabled="disabled" id="UserCode" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Soyad</label>
                        <input type="text" placeholder="Soyad" id="userPersonSurnameAdd" errMessage="Soyad boş geçmeyiniz" class="form-control mustFillForAdd" maxlength="40">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Cep Telefonu</label>
                        <input type="tel" placeholder="0(___) ___-____" id="userGsmNoAdd" errMessage="Cep Telefonu boş geçmeyiniz" class="form-control mustFillForAdd">
                    </div>


                    <div class="form-group">
                        <label class="control-label">Yeniden Şifre</label>
                        <input type="password" placeholder="Yeniden Şifre" id="userRePasswordAdd" errMessage="Yeniden Şifre boş geçmeyiniz" class="form-control mustFillForAdd" maxlength="25">
                    </div>

                    <div class="form-group">

                        <label class="control-label">İşten Ayrılma Tarihi</label>
                        <input type="text" placeholder="__-__-____" id="end_dateAdd" class="form-control">
                    </div>



                    <div class="form-group">
                        <label class="control-label">Tenant</label>
                        <select class="form-control" id="tenantAdd">
                            <option value="">Seçiniz</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label class="control-label">Havuzlar</label>
                        <select class="form-control" data-placeholder="Seçiniz..." id="poolsAdd" multiple="multiple"></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Finsoft Kodu</label>
                        <input type="text" placeholder="Finsoft Kodu" id="finsoftCode" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Lead Assign Groups</label>
                        <select class="form-control" data-placeholder="Seçiniz..." id="leadAssignGroupsAdd" multiple="multiple"></select>
                    </div>

                </div>



                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Kullanıcı Tipi</label>
                        <select class="form-control" id="ddlUserType">
                            <option value="">Seçiniz</option>
                        </select>

                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Default Havuz</label>
                        <select class="form-control" id="default_pool">
                            <option value=""></option>
                        </select>
                    </div>

                </div>



                <div class="hide" id="branches">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Şube</label>
                            <select class="form-control" id="branch">
                                <option value="">Seçiniz</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Şehir</label>
                            <select class="form-control" id="city">
                                <option value="">Seçiniz</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Bölge</label>
                            <select class="form-control" id="area">
                                <option value="">Seçiniz</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Lokasyon</label>
                            <select class="form-control" id="location">
                                <option value="">Seçiniz</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Satış Kanal Tipi</label>
                            <select class="form-control" id="sell_canal_type">
                                <option value="">Seçiniz</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="hide" id="brach_sell">


                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Şube Müdürü</label>
                            <select class="form-control" id="branch_manager">
                                <option value="">Seçiniz</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="hide" id="operation_team_lead">


                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Bölge</label>
                            <select class="form-control" id="operation_area">
                                <option value="">Seçiniz</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="hide" id="lead_pool_div">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label class="control-label">SYS Kampanya Kodu</label>
                            <input type="number" min="0" step="1" placeholder="SYS Kampanya Kodu" id="userSysCampaignId" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label class="control-label">Lead Havuzu</label>
                            <select class="form-control" id="lead_pool">
                                <option value="">Seçiniz</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="hide" id="operation_crew">


                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Takım Lideri</label>
                            <select class="form-control" id="crew_lead">
                                <option value="">Seçiniz</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="form-group text-center margin-20">
                    <div class="col-md-3 col-sm-3 col-xs-3 checkbox checkbox-success  margin-top-0">
                        <input id="userIsAzureEnabledAdd" type="checkbox">
                        <label for="userIsAzureEnabledAdd">
                            Azure Kullanıcısı
                        </label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 checkbox checkbox-success margin-top-0">
                        <input id="userIsOtpEnabledAdd" type="checkbox">
                        <label for="userIsOtpEnabledAdd">
                            Otp Aktif
                        </label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 checkbox checkbox-success margin-top-0">
                        <input id="userIsActiveAdd" type="checkbox">
                        <label for="userIsActiveAdd">
                            Kullanıcı Aktif
                        </label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 checkbox checkbox-success margin-top-0">
                        <input id="adminLoginIsActiveAdd" type="checkbox">
                        <label for="adminLoginIsActiveAdd">
                            Admin' e Giriş
                        </label>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button type="button" class="btn btn-success pull-left width-100 fnt-14" id="btnUserAdd">Ekle</button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button type="button" class="btn btn-danger pull-right width-100 fnt-14" data-dismiss="modal">Kapat</button>
                </div>
            </div>

        </div>

    </div>
</div>



@section scripts {
    <script src="~/js/user/user.js"></script>
}